{% extends "blog/base.html" %}
{% block title %}Psikey's Blog{% endblock %}

{% block content %}
    <h2>About me</h2>
    <p>I'm Psikey. This is my personal website/blog. 
        And here I will share my thoughts on topics that interest me, 
        leaving a mark on the World Wide Web.
        <br>One day my level of English will let me to write publications on it, 
        but until then I will write in Russian. 
    </p>
    <p>Which topics I would like to share my thoughts on. (The list will probably grow)</p>
    <ul>

        <li><a href="#programming">Programming</a></li>
        <li><a href="#anime_culture">Anime Culture</a></li>
        <li><a href="#games">Games</a></li>
        <li><a href="#music">Music</a></li>
    </ul>
    <h3 id="programming">Programming</h3>
    <p>My first experience with programming took place at school in computer science class.
        We studied Pascal and already then I liked programming and algorithmization, 
        but I didn't enjoy programming on the antiquated technology. 
        I think there are quite a lot of modern technology that can be used 
        to teach school students instead of Pascal. <br>Soon I was trying to learn Java, C, C++, Python.<br>
        I decided to focus on learning Python and C++. <br>
        Python is currently my favorite programming language. 
        His laconicism and power conquered me. 
        I take great pleasure in developing solutions in Python. 
        I have made many small programs for personal use on it. 
        And now I continue to study Python and various technologies related to it.<br> 
        In C++, it was nice to do programming, too. 
        It is an interesting and powerful language, but Python remains my priority.      
    </p>
    <h3 id="anime_culture">Anime Culture</h3>
    <p>
        I am not tryhard Otaku so I don't spend much time on watching anime. 
        For me, animation is one step higher than movies because 
        I think animation has more creative freedom and interesting ideas. 
        In terms of product selection, 
        I approach watching them thoughtfully - I don't like wasting my time on pacifiers, 
        even if they are very popular.  
    </p>
    <h3 id="games">Games</h3>
    <p>
        The first video game I played was Will Rock, and I knew right away that video games would stay 
        in my life forever. I wasn't tying myself to any particular genre, 
        so I got to know a lot of different genres in each of which I had a favorite game. 
        The most important thing for me when I play a video game is to enjoy it.
    </p>
    <h3 id="music">Music</h3>
    <p>
        Music is an integral part of my life. 
        There are rare days when I wouldn't listen to music. 
        Mostly I choose music by mood, it can be asbolutely any direction and genre. 
        I like to discover new directions and genres in music. 
        My favorite artists are The Cure, Covet, Tool, My Bloody Valentine, Mazzy Star, CHVRCHES, 
        Ling Tosite Shigure, My dead girlfriend, The Pillows, Aimer, Yoko Kanno, Yuki Kajiura, 
        Akira Yamaoka, Reol, Tomoko Kawase, Sigur Ros, Explosions In The Sky...<br>
        My favorite album is Loveless. 
    </p>
{% endblock %}