<!DOCTYPE html>
{% load blog_tags %}
{% load static %}
<html lang="ru">
<head>
  <meta name="author" content="Psikey">
  <meta name="description" content="This is my personal Blog.">
  <meta name="keywords" content="Blog, Django, Website, Python, Programming">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/all.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link href="{% static 'css/list.css' %}" rel="stylesheet">
  <link href="{% static 'css/detail.css' %}" rel="stylesheet">
  <link href="{% static 'css/archives.css' %}" rel="stylesheet">
  <link rel="icon" type="image/ico" href="\static\images\favicon.ico">
</head>
<body>
  <div id="main">
    <div class="header-wrapper">
      <div class="container">
        <div class="row row-with-vspace site-branding">
          <div class="col-sm-4 col-md col-lg-2 logo_pic">
            <img src="\static\images\logo_pic.jpg" alt="Here must be logo_pic">
          </div>
        <div class="col-sm-6 col-md col-lg about">
          <p>Hi, I'm Psikey<br><span class="text_about">Software developer<br>Student<br>
            A fun of Animation, Sci-fi and Cyberpunk<br>I code in Python</span></p>
        </div>
        <div class="col-sm col-lg-3 logo">
          <div id="logo">
            <div id="logo_text">
              <h1>
                <a href="\">
                  Psikey's
                  <span class="logo_colour">Blog</span>
                </a>
              </h1>
              <h2>“The Cake is a Lie!”</h2>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-sm" id="top_nav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <i class="fas fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="search-container">
          <form action="{% url 'blog:post_search' %}" method="get">
            <input type="text" placeholder="Search.." name="query">
            <button type="submit" id="search_btn">Submit</button>
          </form>
        </div>
        <ul class="nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/archives">Archives</a>
          </li>
        </ul>
      </div>
    </nav>
    <nav class="navbar navbar-expand-sm" id="top_nav">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="true">Contact</a>
        <a class="nav-item nav-link" id="nav-latest_posts-tab" data-toggle="tab" href="#nav-latest_posts" role="tab" aria-controls="nav-latest_posts" aria-selected="false">Latest posts</a>
        <a class="nav-item nav-link" id="nav-commented_posts-tab" data-toggle="tab" href="#nav-commented_posts" role="tab" aria-controls="nav-commented_posts" aria-selected="false">Most commented posts</a>
        <a class="nav-item nav-link" id="nav-also-tab" data-toggle="tab" href="#nav-also" role="tab" aria-controls="nav-also" aria-selected="false">Also</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div id="social">
          <ul class="list-group list-group-horizontal-sm">
            <li class="list-group-item flex-fill">
              <a href="https://github.com/Psickey" target="_blank">GitHub<span><i class="fab fa-github fa-2x"></i></span></a></li>
            <li class="list-group-item flex-fill">
              <a href="mailto:pkeynevernaton@gmail.com" target="_blank">Mail<span><i class="far fa-envelope fa-2x"></i></span></a></li>
            <li class="list-group-item flex-fill">
              <a href="https://t.me/Psikey" target="_blank">Telegram<span><i class="fab fa-telegram fa-2x"></i></span></a></li>
            <li class="list-group-item flex-fill">
              <a href="https://steamcommunity.com/id/Psickey" target="_blank">Steam<span><i class="fab fa-steam fa-2x"></i></span></a></li>
          </ul>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-latest_posts" role="tabpanel" aria-labelledby="nav-latest_posts-tab">
        {% show_latest_posts 3 %}
      </div>
      <div class="tab-pane fade" id="nav-commented_posts" role="tabpanel" aria-labelledby="nav-commented_posts-tab">
        <div id="commented-posts">
          {% get_most_commented_posts as most_commented_posts %}
          <ul class="list-group list-group-flush">
            {% for post in most_commented_posts %}
            <li class="list-group-item">
              <a href="{{post.get_absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-also" role="tabpanel" aria-labelledby="nav-also">
        <a href="{% url "blog:post_feed" %}" id="rss" target="_blank">
          My RSS<i class="fas fa-rss-square fa-2x" style="margin-left: 10px; margin-top: 10px;"></i></a>
        <p id="total-posts">I've written {% total_posts %} posts so far</p>
      </div>
    </div>
    <div class="container" style="margin-top:30px">
      <div class="row">
        <div class="col-10">
          <div class="content overflow-auto scrollbar-light-blue">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
    <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button">
      <i class="fas fa-angle-up"></i>
    </a>
    <footer class="page-footer">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="\">Home</a></li>
        <li class="list-group-item"><a href="\about">About</a></li>
        <li class="list-group-item"><a href="\projects">Projects</a></li>
        <li class="list-group-item"><a href="\archives">Archives</a></li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="https://github.com/Psickey/My_blog">SourceCode@Github</a></li>
      </ul>
    </footer>
  </div>
  <!-- javascript at the bottom for fast page loading -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function(){
	    $(window).scroll(function () {
			  if ($(this).scrollTop() > 50) {
				  $('#back-to-top').fadeIn();
			  } else {
				  $('#back-to-top').fadeOut();
			  }
		  });
		  // scroll body to 0px on click
		  $('#back-to-top').click(function () {
			  $('body,html').animate({
				  scrollTop: 0
			  }, 400);
			  return false;
		  });
    });
  </script> 
</body>
</html>
