.telegram-this {
    margin-left: 10px;
}

.tweet-this {
    margin-left: 10px;
}

.facebook-this {
    margin-left: 0px;
}

.reddit-this {
    margin-left: 10px;
}

.facebook-this a {
    background-color: #3b5998;
    border: none;
    border-radius: 50%;
    color: white;
}

.facebook-this a:hover {
    color: white;
}

.tweet-this a {
    background-color: #00aced;
    border: none;
    border-radius: 50%;
    color: white;
}

.tweet-this a:hover {
    color: white;
}

.reddit-this a {
    background-color: #ff6314;
    border: none;
    border-radius: 50%;
    color: white;
}

.reddit-this a:hover {
    color: white;
}

.telegram-this a {
    background-color: #0088cc;
    border: none;
    border-radius: 50%;
    color: white;
}

.telegram-this a:hover {
    color: white;
}

#share_by_mail input {
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border-color: transparent;
    background-color: #e6ffff;
}

#share_by_mail textarea {
    border-radius: 4px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 52%;
    height: 50px;
    resize: vertical;
    border-color: transparent;
    background-color: #e6ffff;
}

#add_comment input{
    margin: 3px 0;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 4px;
    border-color: transparent;
}

#add_comment textarea {
    border-radius: 4px;
    margin: 3px 0;
    box-sizing: border-box;
    width: 53%;
    height: 50px;
    resize: horizontal;
    border-color: transparent;
    background-color: #e6ffff;
}

.btn-secondary {
    border-color: transparent;
    background-color: green;
    margin-bottom: 10px;
}

.hr-social {
    margin-top: 10px;
    background-image: -webkit-linear-gradient(left, rgba(255, 0, 102, 0.5), rgba(66, 133, 244,.6), rgba(0,0,0,0));
}

#comment_date {
    font-style: italic;
}

#comment_info {
    text-decoration: underline;
}

.comment_by {
    font-weight: bold;
    text-transform: uppercase;
}

.hr-dotted {
    border-top: 3px dotted yellow;
    margin-bottom: 5px;
}

#through_mail {
    margin-bottom: 0;
}

#markbody h2, h3, h4, h5 {
    color: #cc3300;
}
