@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Poppins&display=swap&subset=cyrillic-ext');

body {
    background-color: #221916;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;

    overflow-x: hidden;
    
    -webkit-font-smoothing: antialiased;
    /* -webkit-overflow-scrolling: touch; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #879274;
}

p {
    line-height: 24px;
    margin-bottom: 25px;
}

a {
    color: #7e491f;
}

a:hover, a:focus {
    color: #66ccff;
    text-decoration: none;
}

.header-wrapper {
    background-color: #24130A;
    width: 100%;
}

.logo_pic img {
    display: block;
    border-radius: 50%;
    max-width: 100%;
    margin-top: 1px;
}

.about {
    margin-left: 40px;
    margin-top: 10px;
    color: #ff9933;
}

.about p {
    text-indent: -3em;
}

.about p .text_about {
    text-decoration: underline;
}

#logo {
    margin-top: 5px;
}

#logo_text h1 a {
    color: #ff9933;
}

#logo_text h1 a:hover, a:focus {
    color: #66ccff;
    text-decoration: none;
}

.logo_colour {
    color: #a4875a;
}

#top_nav {
    background: -webkit-gradient(linear, left top, right top, from(#24130A), to(#4E2C14));
    background: linear-gradient(to right, #24130A, #4E2C14);
}

.nav-link {
    color: white;
}

.navbar-toggler {
    color: lightcyan;
    margin-left: 15px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: #111a1f;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebarCollapse {
    border-color: #ff9933;
}

.btn-outline-info {
    color: #ff9933;
}

.side-heads {
    text-align: center;
    letter-spacing: 0.1em;
}

#social ul li {
    background: transparent;
}

#latest-posts ul li {
    background: transparent;
}

#commented-posts ul li {
    background: transparent;
}

#total-posts {
    margin-left: 15px;
    margin-top: 30px;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 0.1em;
    color: white;
    text-shadow: 3px 2px 3px rgba(255,255,255,.2);
}

footer {
    background-color: #07080a;
}

.page-footer ul {
    justify-content: center;
}

.page-footer ul li {
    background: transparent;
}

.back-to-top {
    position: fixed;
    bottom: 100px;
    right: 25px;
    display: none;
    border-radius: 50%;
    border-style: none;
    background: linear-gradient(45deg, #ff6666, #330000);
}

a .github_link {
    text-align: center;
}

.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: solid 1px white;
    color: white;
    border-radius: 5px;
    background: transparent;
  }
  
.search-container button {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: transparent;
    font-size: 17px;
    border: solid 2px white;
    color: white;
    border-radius: 10%;
    cursor: pointer;
  }

  .search-container button:hover {
      background-color: #cc6600;
      color: white;
  }

  #rss {
      margin-left: 10px;
  }

  #social ul li a span {
      margin-left: 10px;
  }